<div class="element input-element">
    <form>
        <div class="input-control text">
            <input type="text" placeholder="<%= t('search') %>...">
            <button class="btn-search"></button>
        </div>
    </form>
</div>