<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/layouts/head' %>
  </head>
  <body class="metro">
    <%= render 'shared/layouts/header' %>
    <%= render 'shared/layouts/body' %>
    <%= render 'shared/layouts/footer' %>
  </body>
</html>
